---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">
  {{ page.date | date: "%e %B %Y" }}<br>
  {% if page.key %}<br>En {{ page.key }}{% endif %}
  {% if page.instru %}<br>{{page.instru}}{% enfif %}
</p>



<div class="post">
  {{ content }}
</div>

{% if page.midi %}
<p>
  <a href="#" onclick="MIDIjs.play('{{ site.baseurl }}/Travaux{{ page.folder }}{{ page.midi }}')">Ecouter</a>
  <a href="#" onclick="MIDIjs.stop()">Arrêter</a>
</p>
{% endif %}

{% if page.pdf %}
<p>
  <a target="_blank" href="{{ site.baseurl }}/Travaux{{ page.folder }}{{ page.pdf }}">Voir la partition</a>
</p>
{% endif %}

{% if page.musescore %}
<p>
  <a target="_blank" href="{{ page.musescore }}">Voir sur MuseScore</a>
</p>
{% endif %}
